h1 {
    font-family: 'PT Sans', sans-serif;
    color: #F5D04C;
    width: 1500px;
    height: 50px;
    background-color: #cc0000;
    margin-left: -6px;
    margin-top: -9px;
    padding: 5px;
}

h3 {
    font-family: 'PT Sans', sans-serif;
}

p {
    font-family: 'Lato', sans-serif;
}

a {
    font-family: 'Lato', sans-serif;
    text-decoration: none;
}

a:link {
    border: 2px solid #cc0000;
    padding: 10px;
    color: #cc0000;
}

a:hover{
    background-color: #cc0000;
    color: white;
}

a:visited {
    color: #F5D04C;
    border: 2px solid #cc0000;
}

.practica {
    margin: -10px 10px 10px 10px;
    display: flex;
    justify-content: flex-start;
}


.mezelf {
    height: 300px;
    width: 1270px;
    background-color: #cc0000;
    color: white;
    padding: 3px;
    margin-top: 5px;
    margin-right: -10px;
    margin-left: -5px;
}

.introtekst {
    margin: 50px;
    margin-bottom: -40px;
}

.sushi {
    width: 300px;
    height: 300px;
    float: right;
    margin-top: -98px;
}
