h1 {
    font-family: 'PT Sans', sans-serif;
    color: #ffffff;
    width: 1500px;
    height: 50px;
    background-color: #cc0000;
    margin-left: -6px;
    margin-top: -9px;
}

a {
    font-family: 'Lato', sans-serif;
    text-decoration: none;
}

a:link {
    border: 2px solid #cc0000;
    padding: 10px;
    color: #cc0000;
}

a:hover{
    background-color: #cc0000;
    color: white;
}

a:visited {
    color: inherit;
}

.practica {
    margin-top: -10px;
    display: flex;
}
